input[type="text"] {
    height: 30px;
    width: 300px;
    margin-right: 20px;
    margin-left: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: plum;
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 8px;
}
button:hover {
    background-color: rgb(245, 23, 249);
}

.button-shown {
    background-color: rgb(161, 108, 252);
    color: azure;
    margin-top: 50px;
    margin-bottom: 50px;
}
.button-shown:hover {
    background-color: rgb(93, 0, 253);
}

.update-field {
    margin-top: 10px;
    margin-bottom: 10px;
}

.label-update {
    display: inline-block;
    width: 100px;
}